<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SSAdmin">
    <resultMap id="SSAdminMap" type="SSAdmin">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
    </resultMap>
    <!--实体类中的属性-->
    <resultMap id="SSTeamMap" type="SSTeam">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="Leader_Name" property="leaderName" jdbcType="VARCHAR"/>
        <result column="Leader_Identity" property="leaderIdentity" jdbcType="VARCHAR"/>
        <result column="Leader_Phone" property="leaderPhone" jdbcType="VARCHAR"/>
        <result column="Doctor_Name" property="doctorName" jdbcType="VARCHAR"/>
        <result column="Doctor_Phone" property="doctorPhone" jdbcType="VARCHAR"/>
        <result column="Coach_Name" property="coachName" jdbcType="VARCHAR"/>
        <result column="Coach_Phone" property="coachPhone" jdbcType="VARCHAR"/>
        <result column="Coach_Sex" property="coachSex" jdbcType="VARCHAR"/>
        <result column="Coach_ID" property="coachId" jdbcType="VARCHAR"/>
        <result column="Team_Name" property="teamName" jdbcType="VARCHAR"/>
        <result column="PWD" property="pwd" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectById" resultMap="SSAdminMap" parameterType="java.util.Map">
        SELECT * FROM admin WHERE id=#{id}
    </select>

    <select id="selectAllSSTeams" resultMap="SSTeamMap" parameterType="java.util.Map">
        SELECT * FROM team ORDER BY id
    </select>



    <select id="selectSSTeamById" resultMap="SSTeamMap" parameterType="java.util.Map" >
        SELECT * FROM team WHERE id=${id};
    </select>


    <update id="updateSSTeam"  parameterType="java.util.Map">
        UPDATE team
        <set>
            <if test="teamName != null" >
                Team_Name = #{teamName,jdbcType=VARCHAR},
            </if>
            <if test="leaderName!= null" >
                Leader_Name = #{leaderName,jdbcType=VARCHAR},
            </if>
            <if test="leaderIdentity != null" >
                Leader_Identity = #{leaderIdentity,jdbcType=INTEGER},
            </if>
            <if test="leaderPhone!= null" >
                Leader_Phone = #{leaderPhone,jdbcType=VARCHAR},
            </if>
            <if test="coachName!= null" >
                Coach_Name = #{coachName,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id=#{s.id,jdbcType=VARCHAR}
    </update>



</mapper>
